.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
.top-menu.ui.item.menu{
  justify-content: right;
  padding-right: 5em;
}
.menu-text{
  padding-right: 5em;
}
.create-form{
  width: 50%;
  margin: auto;
}
.heading{
  padding-top: 4%;
}
.form-field{
  margin-top: 2em;
  margin-bottom: 2em;
  display:flex
}
.form-label{
  padding-right: 3em;
  width: 10em;
}
.radio-btn{
  padding-left: 3em;
}
.form-btn{
  float: right;
  padding:2em;
}
.err-msg{
  color:red
}
.list-btn{
  float: left;
  margin-top: 3em;
}